exportPattern("^[[:alpha:]]+")
import(tidyverse)
import(data.table)
import(dlookr)
import(caret)
export(colclean)
export(overview)
export(format)
export(varSelect)
export(outclip)
export(freqpoly_X)
export(histogram_X)
export(density_X)
export(bar_X)
export(scatterplot_cat)
export(boxplot_XY)
export(scatterplot_cont)
export(univariate)
export(bivariate)
export(autoGraph)
export(autoReport)
